@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
}
