@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 32px;
}
